if emisor
    //-
        Requeridos: rfc y regimenFiscal
        Opcionales: nombre
    cfdi:Emisor(
        Rfc=emisor.rfc
        RegimenFiscal=emisor.regimenFiscal

        Nombre=emisor.nombre
    )
