if comercioExterior.propietario
    //- Los atributos son requeridos
    cce11:Propietario(
        NumRegIdTrib=comercioExterior.propietario.numRegIdTrib
        ResidenciaFiscal=comercioExterior.propietario.residenciaFiscal
    )
